<div class="chat-window" data-template-bind='[{"attribute": "data-room-name", "value": "roomName"}]'>
    <div class="header">
        <h2 data-content-text="title" data-template-bind='[{"attribute": "title", "value": "title"}]'></h2>
        <a href="#" class="leave-room" title="Leave">x</a>
    </div>
    <div class="chat-box">
        <div class="messages"></div>
        <div class="enter-message">
            <input type="text" class="message-input" placeholder="Enter your message..." />
            <a href="#" class="send">Send</a>
        </div>
    </div>
</div>